h1, h2, h3, h4, h5, h6 {
	color: #999999;
}

#paragraph {
	background-color: rgba(255, 255, 255, .96);
	border-radius: 5px;
	padding: 15px;
	border-left: 20px;
	padding-right: 30px;
	padding-left: 20px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
	float: none;
}


body {
	padding-top: 20px;
	margin: 0 auto;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top middle;
	background-size: cover;
}

.sponsor-photo {
	max-width: 400px;
}

.photo {
	text-align: center;
}

#icon {
	padding-left: 5px;
	padding-right: 5px;
}

a:hover {
	color: #33b5e5;
}

.navbar {
	margin: 0px;
	border: 0px;
	padding: 0px;
	padding-top: 0px;
}

@media (max-width: 767px) {
     .navbar {
          margin-right: -20px !important;
          margin-left: -20px !important;
     }
}

.navbar .navbar-fixed-top {
	height: none;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.navbar-collapse .collapse {
	display: block;
	position: absolute;
}

.navbar .container {
	background: none;
}

.navbar .brand {
	color: #FBFBFB;
	font-size: 30px;
}

.navbar-inner {
	background: rgba(255,0,0,0.55);
	width: none;
}

.navbar .navbar-inner {
	border: 0px;
}

.navbar .nav {
	font-color: #FBFBFB;
	text-shadow: none;
}

.navbar .nav > li > a {
	font-size: 14px;
	color: #FBFBFB;
}

.navbar .nav > li > a:hover {
	border-color: #CBCBCB;
}

#calendar {
	padding-top: 30px;
	padding-bottom: 30px;
	height: 70%
}

#cal_iframe {
	border-radius: 5px;
}

ul {
	list-style-type: none;
}
