h1, h2, h3, h4, h5, h6 {
	color: #999999;
}

#paragraph {
	background-color: rgba(255, 255, 255, .9);
	border-radius: 5px;
	padding: 15px;
	border-left: 20px;
	padding-right: 30px;
	padding-left: 20px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
	float: none;
}

body {
	padding-top: 40px;
	margin: 0 auto;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top middle;
	background-size: cover;
}

a:hover {
	color: #33b5e5;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.navbar {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.navbar .container {
	background: none;
	padding-left: 20px;
	padding-right: 20px;
}


.navbar .brand {
	color: #FBFBFB;
	font-size: 38px;
}

.navbar-inner {
	background: rgba(255,0,0,0.55);
}

.navbar .navbar-inner {
	border: 0px;
}

.navbar .nav {
	font-color: #FBFBFB;
	text-shadow: none;
}

.navbar .nav > li > a {
	
	font-size: 14px;
	color: #FBFBFB;
}

.navbar .nav > li > a:hover {
	
	border-color: #CBCBCB;
}

#calendar {
	padding-top: 30px;
	padding-bottom: 30px;
}

#cal_iframe {
	border-radius: 5px;
}

ul {
	list-style-type: none;
}
