h1, h2, h3, h4, h5, h6 {
	color: #999999;
}

#paragraph {
	background: white;
	border-radius: 5px;
	margin-top: 20px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 20px;
	float: none;
}

body {
	padding-top: 20px;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}

.navbar {
	margin: 0px;
	border: 0px;
	padding: 0px;
	line-height: 1;
}

.navbar .container {
	height: 70px;
	background: none;
}

.navbar .brand {
	color: #FBFBFB;
	font-size: 38px;
}

.navbar-inner {
	background: rgba(255,0,0,0.4);
}

.navbar .navbar-inner {

	border: 0px;
}

.navbar .nav {
	font-color: #FBFBFB;
	text-shadow: none;
}

.navbar .nav > li > a {
	line-height: 3;
	font-size: 14px;
	color: #FBFBFB;
}

.navbar .nav > li > a:hover {
	
	border-color: #CBCBCB;
}

#calendar {
	padding-top: 30px;
	padding-bottom: 30px;
}

#cal_iframe {
	border-radius: 5px;
}
