{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		
		<div class="span8" id="paragraph">
			<h2>About AISES</h2>
			<br>
			<h3>History</h3>
			<p>
				Stanford’s chapter of the American Indian Science and Engineering was established in 1983 with the support of four members of the Stanford American Indian Organization (SAIO). Since the formation of AISES at Stanford University, all AISES members are active in SAIO advocating support and assistance in science and engineering, as well as other support programs in the American Indian and Native Pacific Islander community. Our chapter has maintained an increase in membership since its formation demonstrating the community our chapter promotes. As one of many sub-groups under the Stanford American Indian Organization umbrella, Stanford University AISES maintains membership with AISES National in Albuquerque, New Mexico. Our chapter is dedicated to the principles of AISES National, which is to improve American Indian education, and increase the number of American Indian scientists and engineers.
			</p>
			<br>

			<h3>Chapter Goals</h3>
			<p>
				The Stanford Chapter is also consistent with the goals of AISES National. Among many things, our Chapter focuses on communication and interaction with Native American high school students in the San Francisco area, as well as promoting a learning atmosphere that encourages academic success and professionalism. Every year the Stanford AISES chapter sponsors an event called CLUE-IN day (College Life and Undergraduate education for Interested Natives) for Native American Students in the bay area. Also with the aid of the Stanford School of Engineering, we award outstanding chapter members with awards and scholarships.
			</p>
			<br>

			<h3>Membership</h3>
			<p>
				The principles of AISES membership recruiting and maintenance programs are to demonstrate the possible benefits of membership. AISES identifies and creates programs to address communal, academic, social, and personal needs of the AISES members. The objectives are to decrease isolation, increase self-esteem, and to support the academics of our community members through informal and formal practices. Our Chapter aims to retain members through science and engineering tutoring, academic and professional workshops, communication with other AISES Chapters in the California area and networking with professionals in the science and engineering industry.
			</p>
		</div>
	
	</div>
</div>

{% endblock %}