{% extends "base.html" %}
{% block content %}

<div class="row-fluid" id="calendar">
  <div class="text-center">
    <iframe id="cal_iframe" src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gs1s3bjdfmj9p2d96051dd6oco%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FLos_Angeles" style="border-width:0 " width="800" height="600" frameborder="0" scrolling="no" align="middle"></iframe>
  </div>
</div> 

{% endblock %}