<!DOCTYPE HTML>
<!--
    Source code is from Billy Moon's post on StackOverflow here:
    http://stackoverflow.com/questions/5411538/redirect-from-an-html-page
-->
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=http://goo.gl/forms/8qDXnGpDpS">
        <script type="text/javascript">
            window.location.href = "http://goo.gl/forms/8qDXnGpDpS"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow <a href='http://goo.gl/forms/8qDXnGpDpS'>this link</a>.
    </body>
</html>