{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
		<div class="row">
			<div class="span8" id="paragraph">
				<h2>Contact Us</h3>
				<ul>
					<li><b>President:</b> Lazara Ramos (<a href="mailto:lazarar@stanford.edu">email</a>)</li>
					<li><b>Vice President - Internal:</b> Derek Kessler (<a href="mailto:dkess15@stanford.edu">email</a>)</li>
					<li><b>Vice President - External:</b> Shirbi Ish-Shalom (<a href="mailto:shirbi@stanford.edu">email</a>)</li>
					<li><b>Financial Officer:</b> Kevin McCabe (<a href="mailto:kmccabe@stanford.edu">email</a>)</li>
					<li><b>Secretary:</b> Tori Bahe (<a href="mailto:tbahe3@stanford.edu">email</a>)</li>
					<li><b>Social Chair:</b> Nataanii Hatathlie (<a href="mailto:nataanii@stanford.edu">email</a>)</li>
					<li><b>Fundraising Chair:</b> Sabrina Li (<a href="mailto:sli668@stanford.edu">email</a>)</li>
					<li><b>Webmaster:</b> Mark J. Berger (<a href="mailto:mjberger@stanford.edu">email</a>)</li>
				</ul>

			</div>
		</div>
</div>

{% endblock %}