{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
		<div class="row">
			<div class="span8" id="paragraph">
				<img src="static/img/front.png" class="img-polaroid">
				<br>
				<br>
				<p>
					The Stanford Chapter of the American Indian Science and Engineering Society (AISES) actively promotes Native American students in the fields of engineering and science. The Stanford AISES chapter encourages American Indian youth to enter the world of science and engineering while preserving their cultural heritages. This is accomplished by activities such as tutorial services, participation at the AISES National Conference, presentations by companies in the fields of science and engineering, and informational sessions such as resume workshops.
				</p>
				
				

				<p>Find us on:
					<a href="https://www.facebook.com/pages/Stanford-AISES/223197257741133" target="blank_"><img src="static/img/facebook_48.png" id="icon"></a>
					<a href="http://www.linkedin.com/groups/Stanford-AISES-5015126" target="blank_"><img src="static/img/linkedin_48.png" id="icon"></a>
				</p>
			</div>
		</div>
</div>

{% endblock %}