{% extends "base.html" %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="span8" id="paragraph">
				<h2>Projects</h2>
				<div class="photo"><img src="static/img/huang.jpg" class="img-polaroid"></div>
				<br>
				<h3>CLUE-IN Day</h3>
				<p>
					CLUE-IN Day is an annual event put on by the Stanford AISES chapter to give bay Area Title VII Students an idea of what college life is really like. It included student panels, speakers from the American Indian, Alaska Native, Native Hawaiian Program Office and Stanford Admissions, lunch, campus tours, and other fun activities for the students.
					<br><br>
					The event takes place in mid February (near Valentine’s day) and registration begins in early January.
				</p>
				<br>
				<h3>Opportunity Job Fair</h3>
				<p>
					The Opportunity Job Fair is an annual career fair geared toward students with majors in engineering or technology, which is put on by the school of engineering in conjunction with many science, technology and engineering groups on campus. Volunteers from AISES, SBSE (Society of Black Engineers), SWE (Society of Women Engineers), and SSCLES (Stanford Society of Chicano/Latino Engineers and Scientists).

					<br><br>

					The fair brings top science and technology firms to campus for students to come meet with them and provide them with resumes. The job fair itself is followed by a reception the afternoon before.

					<br><br>
					
					For more information you can visit the <a href="http://engineering.stanford.edu/event/opportunity-job-fair-2014" target="blank_">Opportunity Job Fair 2014 website.</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
