{% extends "base.html" %}
{% block content %}

<div class="row-fluid" id="calendar">
  <div class="span8" id="paragraph">
      <h2>Tutoring Hours</h2>
      <p>AISES officers tutoring hours to its members and the greater Native community at Stanford to foster success in introductory STEM courses. Please feel free to drop by any of the office hours below for help with your coursework.
      </p>

      <p>
        Click on the event to see which subjects the tutor can assist you with.
      </p>
  </div>
  <div class="text-center">
    <iframe src="https://www.google.com/calendar/embed?src=j9iosr4hj2iie16o5u7b8lb5nc%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

{% endblock %}